<!doctype html>
<html lang="en" ng-app="angularjs-anchorScroll">
<head>
    <meta charset="UTF-8">
    <title>AngularJs Test</title>
    <script src="libs/angular.min.js"></script>
    <script src="dev/anchorScroll.js"></script>
</head>
<body ng-controller="myCtrl">
    <div ng-init="list = ['Chrome', 'Safari', 'Firefox', 'IE'] ">
        <input ng-model="list" ng-list> <br>
        <input ng-model="list" ng-list> <br>
        <pre>list={{list}}</pre> <br>
        <ol>
            <li ng-repeat="item in list">
                {{item}}
            </li>
        </ol>
    </div>

    <a href ng-click="scrollTo( 'foo' )">scrollTo</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
    
    <div id="foo">000</div>
</body>
</html>
